<div>
  <div>
    <span>Id</span>
    <span>Title</span>
    <span>Author</span>
    <span>Action</span>
  </div>
  <div *ngFor="let book of books">
    <span>{{book.id}}</span>
    <span>{{book.title}}</span>
    <span>{{book.author}}</span>
    <span>
      <span (click)="deleteBook(book.id)">remove</span>
      <span [routerLink]="['/book-edit', book.id]">edit</span>
    </span>
  </div>
</div>
